@import url(http://fonts.googleapis.com/css?family=Princess+Sofia);

body {
    font-family: 'Princess Sofia', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #F5F5DC;
}

.poster {
    float: left;
    margin-right: 1rem;
}
